html,body{
	margin:0;
	height:100%;
}
body{
	color: var(--text);
	background: var(--bg);
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.navbar{
	height:70px;
	width:100%;
	background: var(--bg-nav);
	color: var(--textcolor);
}
.navbar a{
	color: var(--textcolor);
}
.navbar-nav{
	display:flex;
	align-items:center;
	justify-content: space-evenly;
	height:100%
}
.dropdown{
	position:absolute;
	width:500px;
	opacity:0;
	z-index:2;
	background:var(--bg-dropdown);
	border-top: 2px solid var(--border-color);
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	
	display:flex;
	align-items:center;
	justify-content: space-around;
	height:3rem;
	margin-top:2rem;
	padding:0.5rem;
	
	box-shadow: rgba(2,8,20,0.1) 0px 0.175em 0.5em;
	transform: translateX(-40%);
	transition: opacity .15s ease-out;
	
	
}

.has-dropdown:focus-within .dropdown{
	opacity:1;
	pointer-events: auto;
}
.dropdown-item a{
	width:100%;
	height:100%;
	size:0.7rem;
	padding-left:10px;
	font-weight:bold;
}
.dropdown-item a::before{
	content: ' ';
	border:2px solid var(--border-color);
	border-radius:50%;
	width:2rem;
	height:2rem;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}
header{
	padding:1em;
	background:var(--bg-nav);
	margin-bottom: 1em;
	padding-bottom:3.5em;
	text-align:center;
	clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%,0 65%,0 0);
}


#list{
	white-space: pre;
	text-align:center;
	font-size:150%;
	color: var(--textcolor);
}
h1{
	text-align:center;
	font-size: 250%;
	color: var(--textcolor);
}
#gui{
	display: block;
	margin:auto;
}
#listitem 
{
	display: inline;
}
#addbutton
{
	width:100px;
	height:75px;
	display: inline;
}

#container{
	margin: 0 auto;
	text-align:center;
	width: 50%;
	height: 100px;
	border: 3px solid var(--outborder-color);
	background-color: var(--bg-list);
	border-radius: 20px;
	box-shadow: rgba(2,8,20,0.1) 0px 0.175em 0.5em;
	position:sticky;
	top:0px;
	z-index:1;
}

#heading {
	padding-top:1px;
	color: var(--textcolor);
	font-size:150%;
}
input[type=text]{
	width: 50%;
	transition: width 0.4s ease-in-out;
	border: 2px solid red;
}
input[type=text]:focus{
	width: 80%;
	background-color: #3CBC8D;
	border: 2px solid white;0
	color: white;
}
.shadow {
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

:root{
	--gray0: #f8f8f8;
	--gray1: #dbe1e8;
	--gray2: #b2becd;
	--gray3: #6c7983;
	--gray4: #454e56;
	--gray5: #2a2e35;
	--gray6: #12181b;
	--blue:  #0084a5;
	--purple: #a82dd1;
	--yellow: #fff565;
	--listlight: #ffcc80;
	--listdark: #6666ff;
	--listsolar: #99ff99;
	--border1: ff00ff;
	--border2: ff9900;
	--border3: ff0066;
	--textlight: #ff9900;
	--textdark: #aa00ff;
	--textsolar: #00b33c;
	
}
.light{
	--bg: var(--gray0);
	--bg-nav: linear-gradient(to right, var(--gray1),var(--gray3));
	--bg-dropdown: var(--gray0);
	--text: var(--gray6);
	--border-color: var(--blue);
	--bg-solar: var(--yellow);
	--bg-list: var(--listlight);
	--outborder-color: var(--border1);
	--textcolor: var(--textlight);
}
.dark{
	--bg: var(--gray5);
	--bg-nav: linear-gradient(to right, var(--gray5),var(--gray6));
	--bg-dropdown: var(--gray6);
	--text: var(--gray0);
	--border-color: var(--purple);
	--bg-solar: var(--blue);
	--bg-list: var(--listdark);
	--outborder-color: var(--border2);
	--textcolor: var(--textdark);
	
}
.solar{
	--gray0: #fff565;
	--gray1: #f7f8d0;
	--gray2: #b6f880;
	--gray3: #5ec72d;
	--gray4: #3ea565;
	--gray5: #005368;
	--gray6: #003d4c;
	--bg-list: var(--listsolar);
	--outborder-color: var(--border3);
	--textcolor: var(--textsolar);
}
.deletebutton{
	color: var(--textcolor);
	border-radius: 10px;
	width: 20%;
	border-color: var(--border-color);
}
